@import url("https://fonts.googleapis.com/css2?family=Fira%20Code:wght@300..700&display=swap");

::selection {
  background-color: lime !important;
  color: black !important;
}

.blink {
  animation: blinking 0.7s linear infinite;
}

@keyframes blinking {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  padding-right: 50px;
  overflow: hidden;
  background-color: black;
  font-family: "Fira Code", monospace;
  color: lime;
  white-space: nowrap;
}

p,
pre {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Fira Code", monospace;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  background-color: lime;
  color: black;
}

#cursor {
  position: absolute;
}
